<div class="row" style="height:100%">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body panel-forms">
                <!--Hidden vars-->
                <input type="hidden" class="tool_action" id="tool_action" name="tool_action" value="{{ tool_action }}">
                <div id="form-region">
                    <b><span style="color:blue;font-size:medium">Visualization Layer:</span></b>
                    <select class="region" id="region" name="region">
                        {% for x,y in form_options.region.items() %}
                        <option value="{{ x }}" {% if x == variables.region  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %} 
                   </select><br>
                </div>
                <div id='form-field_year' 
                {% if variables.region != "fields" %}style="display:none;"{%endif%}>
                    <b>Year (only for fields): </b><br>
                    <select class="year" id="field_year" name="field_year">
                        {% for x in form_options.field_year %}
                        <option value="{{ x }}" {% if x == variables.field_year  %} selected {% endif %}>{{ x }}</option>
                        {% endfor %}
                    </select> 
                </div>
            </div><!--panel-body panel-forms-->
        </div><!--panel panel-default-->
        <div class="panel panel-default">
            <div class="panel-body panel-forms">
                <b><span style="color:blue;font-size:medium">Pick your dataset:</span></b><br>
                <div id="form-variable">
                    <b>Variable: </b><br>
                    <select class="variable" id="variable" name="variable">
                        {% for x,y in form_options.variable.items() %}
                        <option value="{{ x }}" {% if x == variables.variable  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <div id='form-dataset' 
                {% if variables.variable == "scene_count" %}style="display:none;"{%endif%}>
                    <b>Dataset: </b><br>
                    <select class="product" id="product" name="product">
                        {% for x,y in form_options.dataset.items() %}
                        <option value="{{ x }}" {% if x == variables.dataset  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select><br> 
                </div>
                <div id='form-model' 
                {% if variables.variable|not_in('ETa,ETf') %}style="display:none;"{%endif%}>
                    <b>ET Model: </b>
                    <select class="et_model" id="et_model" name="et_model">
                        {% for x,y in form_options.et_model.items() %}
                        <option value="{{ x }}" {% if x == variables.et_model  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select><br>
                </div>
            </div><!--panel-body panel-forms-->
        </div><!--panel panel-default-->
        <div class="panel panel-default">
            <div class="panel-body panel-forms">
                <b><span style="color:blue;font-size:medium">Processing:</span></b><br>
                <div id="form-temporal_resolution">
                    <b>Resolution (Depends on most above): </b>
                    <select class="temporal_resolution" id="temporal_resolution" name="temporal_resolution">
                        {% for x,y in form_options.temporal_resolution.items() %}
                        <option value="{{ x }}" {% if x == variables.temporal_resolution  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select><br>
                </div> 
                <div id="form-timpeperiod">
                    <b>Timeperiod (Depends on resolution): </b>
                    <select id="time_period" name="time_period" class="time_period">
                        {% for x,y in form_options.time_period.items() %}
                        <option value="{{ x }}" {% if x == variables.time_period  %} selected {% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select> 
            </div><!--panel-body panel-forms-->
        </div><!--panel panel-default-->
        <p class="bg-info" style="padding:5%;">
            NOTES: 
            <ul class="bg-info">
                <li>As the fields in the form area changed,
                    the map will update showing the predefined,
                    colorcoded ET stats or EE maps.
                </li>
            </ul>
        </p>
    </div><!--end colxs-12-->
</div><!--end row-->
