{% extends "base.html" %}
{% block content %}

<div class="row" style="height:100%">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 align="center">FORM GOES HERE</h1>
        <!--
        <form role="form" class="form-horizontal" id="main-form" action="" method="post">
            <div class="form-group">
                <button type="submit" class="main-form-button btn btn-large btn-primary pull-left">RUN</button>
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">1. Define your region!</label>
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">2. Choose your dataset!</label>
                <div class="input-group">
                    <span style="display:none"></span>
                    <span class="input-group-addon" style="display:none;"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                </div>
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">3. What analysis do you want to run?</label>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                </div>
                <div class="input-group">
                </div>
            </div>
            <div class="form-input-group form-group" align="center">
                <label class="form-group-header">4. Define your date ranges! </label>
                <div id="por" class="error">Available:</div>
            </div>
        </form>-->
    </div><!--end colxs-12-->
</div><!--end row-->

{% endblock %}
