<div class="row" style="height:100%">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Map Form</h1>
        <div class="panel panel-default">
            <div class="panel-body panel-forms">
                <b><span style="color:blue;font-size:medium">Visualization Layer:</span></b>
                <select class="region" id="region" name="region">
                    <option value="map">Image</option>
                    <option value="fields" selected>Fields</option>
                    <option value="huc6">Huc 6</option>
                    <option value="huc8">Huc 8</option>
                    <option value="state">State</option>
                    <option value="county">County</option>
                </select><br>
                 <b>Year (only for fields): </b><br>
                <select class="year" id="year" name="year">
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013" selected>2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                </select> 
            </div><!--panel-body panel-forms-->
        </div><!--panel panel-default-->
        <div class="panel panel-default">
            <div class="panel-body panel-forms">
                <b><span style="color:blue;font-size:medium">Pick your variable:</span></b><br>
                <b>Dataset: </b><br>
                <select class="product" id="product" name="product">
                    <option value="Landsat">Landsat</option>
                    <option value="MODIS" selected>MODIS</option>
                </select><br> 
                <b>Variable: </b><br>
                <select class="variable" id="variable" name="variable">
                    <option value="ETa">Evapotranspiration</option>
                    <option value="ETf">Fractional Evapotranspiration</option>
                    <option value="ETr">Reference Evapotranspiration</option>
                    <option value="ppt">Precipitation</option>
                    <option value="scene_count">Scene Count</option>
                </select><br>
                <b>ET Model(only for Eta, Etf): </b>
                <select class="et_model" id="et_model" name="et_model">
                    <option value="SSEBob">SSEBob</option>
                    <option value="METRIC">METRIC</option>
                    <option value="METRIC">Ensemble</option>
                </select><br>
            </div><!--panel-body panel-forms-->
        </div><!--panel panel-default-->
        <div class="panel panel-default">
            <div class="panel-body panel-forms">
                <b><span style="color:blue;font-size:medium">Processing:</span></b><br>
                <b>Resolution (Depends on most above): </b>
                <select class="temporal_resolution" id="temporal_resolution" name="temporal_resolution">
                    <option value="daily" selected>Daily</option>
                    <option value="monthly">Monthly</option>
                    <option value="seasonal">Seasonal (April - October)</option>
                    <option value="annual">Annual</option>
                </select><br> 
                <b>Timeperiod (Depends on resolution): </b>
                <select id="timeperiod" name="timeperiod" class="timeperiod" style="width:100%">
                    <option value="custom" >Custom Date Range</option>
                    <option value="last15days" >Last 15 Days of Data</option>
                    <option value="last30days" >Last 30 Days of Data</option>
                    <option value="last60days"  selected >Last 60 Days of Data</option>
                    <option value="last90days" >Last 90 Days of Data</option>
                    <option value="lastDJF" >Last DJF (Dec-Feb)</option>
                    <option value="lastMAM" >Last MAM (Mar-May)</option>
                    <option value="lastJJA" >Last JJA (Jun-Aug)</option>
                    <option value="lastSON" >Last SON (Sept-Nov)</option>
                    <option value="lastANN" >Last Year</option>
                    <option value="lastWY" >Last Northern Water Year (Oct - Sept)</option>
                    <option value="lastWY-S" >Last Southern Water Year (Apr - Mar)</option>
                    <option value="lastGS" >Last Northern Growing Season (Apr - Oct)</option>
                    <option value="lastGS-S" >Last Southern Growing Season (Nov - Mar)</option>
                    <option value="nwy-todate" >Northern Water Year To Date</option>
                    <option value="swy-todate" >Southern Water Year To Date</option>
                    <option value="cy-todate" >Calendar Year Year To Date</option>
                </select> 
            </div><!--panel-body panel-forms-->
        </div><!--panel panel-default-->
        <p class="bg-info" style="padding:5%;">
            NOTES: 
            <ul class="bg-info">
                <li>As the fields in the form area changed,
                    the map will update showing the predefined,
                    colorcoded ET stats or EE maps.
                </li>
            </ul>
        </p>
    </div><!--end colxs-12-->
</div><!--end row-->
