<div class="row" style="height:10%">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h1>About Us etc</h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1 align="center">Open-ET
                 <small>Evapotranspiration data platform</small>
            </h1>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h1>LOGO</h1>
        </div>
    </div>
</div>
