  <!-- Modal -->
  <div class="modal fade" id="dataModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span style="color:red"><h3 class="modal-title">DATA</h3></span>
        </div>
        <div class="modal-body" id="modal_data">
            <h4 id="dataModal_title"></h4>
            <p id="dataModal_data"></p> 
        </div>
      </div>
    </div>
  </div>
