<!-- Modal -->
<div class="modal fade" id="layerInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal"><i class="icon-remove">&times;</i></a>
                <span class="sr-only">Close</span>
			    <span style="color:red"><h3 class="modal-title">WHAT SHOULD BE HERE?</h3></span>
            </div>
            <div class="modal-body" id="modal_data">
                <p id="layerInfoModal_data"></p>
            </div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->
