<!-- Modal -->
<div class="modal fade in" id="dataModal" tabindex="-1" 
    data-backdrop="false" role="dialog" aria-labelledby="myModalLabelShareLink" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                 <a href="#" class="close" data-dismiss="modal"><i class="icon-remove">&times;</i></a>
                <span class="sr-only">Close</span>
                </button>
			    <span style="color:red"><h3 class="modal-title">DATA</h3></span>
            </div>
            <div class="modal-body" id="modal_data">
                <h4 id="dataModal_title"></h4>
                <p id="dataModal_data"></p>
            </div><!--modal-body-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->
