{% extends "index.html" %}

{% block content %}
<script>
function jumpto(id, input, x=null) {
    $('#'+id).text(input);
}
</script>
    <div id="map-container">
        <div id="main-map"></div>
        <div class="form-container">
            <input type="hidden" name="region" id="region" value="{{ variables.region }}">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="form-variable" type="button" data-toggle="dropdown"><label>Variable:</label><br>
                    {% for x,y in form_options.variable.items() %}
                    {% if x == variables.variable  %} <span id="variable">{{ y }}</span> <span class="caret"></span></button><ul class="dropdown-menu">{% endif %}
                    <li><a onclick="change_inVariable('{{x}}');jumpto('variable', '{{y}}', '{{x}}');">{{ y }}</a></li>
                    {% endfor %}
                  </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="form-dataset" type="button" data-toggle="dropdown"><label>Dataset:</label><br>
                    {% for x,y in form_options.dataset.items() %}
                    {% if x == variables.dataset  %} <span id="dataset">{{ y }}</span> <span class="caret"></span></button><ul class="dropdown-menu" id="form-dataset">{% endif %}
                    <li><a onclick="change_inDataset('{{x}}');jumpto('dataset', '{{y}}', '{{x}}');">{{ y }}</a></li>
                    {% endfor %}
                  </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="form-year" type="button" data-toggle="dropdown"><label>Year:</label><br>
                    <span id="year">{{ variables.year }}</span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    {% for x in form_options.year %}
                      <li><a onclick="change_inYear('{{x}}');jumpto('year', '{{y}}', '{{x}}');">{{ x }}</a></li>
                    {% endfor %}
                  </ul>
            </div>
        </div> 

        <div class="reset">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" onclick="LF_MAP_APP.set_landing_page_mapLayer()"><label>Reset</label><br></button>
           </div>
       </div>
    </div>
        <div class="colorbar-container draggable ui-widget-content">
            <div class="colorbar-container-header">Click to move!</div>
            <div id="colorbar" class="colorbar ui-widget-content"></div>
        </div>
    <!-- MODAL WINDOWS -->
    {% include 'modal_general_error.html'%}
    {% include 'modal_data.html'%}
    {% include 'modal_layer_info.html'%}
{% endblock %}
