{% extends "base.html" %}

{% block content %}

<div id="header-container">
    {% include 'header.html' %}
</div>
<div id="main-container">
    <div id="map-container">{% include 'map.html'%}</div>
    <div id="form-container" class="draggable ui-widget-content">
        <div id="form-container-header">You can move me!</div>
        {% include 'form.html'%}
    </div>
    <!-- MODAL WINDOWS -->
    {% include 'modal_general_error.html'%}
    {% include 'modal_data.html'%}
    {% include 'modal_layer_info.html'%}
</div>

<div id="footer-container">
   {% include 'footer.html'%}
</div>
{% endblock %}
