<!--css-->
<head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <link rel="stylesheet" href="static/css/nasa-roses.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<!--jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--Bootstrap (needs to be after jQuery)-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--Highcharts-->
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>

<!--Google Maps-->
<!-- Load the Google Maps API, and run the initMap() callback when finished. -->
<!--
<script src="//maps.googleapis.com/maps/api/js?key={{ GMAP_API_KEY }}&libraries=drawing"></script>
<script src="//www.gstatic.com/charts/loader.js"></script>
-->
<!--Openlayers-->
<script src="https://openlayers.org/en/v4.6.4/build/ol.js" type="text/javascript"></script>
<!--Needed to run on ie and other old stuff-->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>

<!--EXTERNAL JS-->
<!--Needed to zoom to fusiontables!!!-->
<script src="/static/js/geoxml3.js"></script>
<!--Progress Bar-->
<script src="/static/js/progressWindow.js"></script>
<!--Colorbar-->
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/colorbar.js"></script>

<!--My JS-->
<!--<script src="static/myjs/statics.js"></script>-->
<script src="static/myjs/utils.js"></script>
<script src="static/myjs/form-functions.js"></script>
<script src="static/myjs/map-functions.js"></script>
<script src="static/myjs/ts-functions.js"></script>
<script src="static/myjs/listeners.js"></script>
<script src="static/myjs/ajax-calls.js"></script>

<!--Run Time Scripts-->
<script>
    //Set the statics
    var statics = {}, js_statics = {};
    $.ajax({
        url: 'static/json/statics.json',
        async: false,
        dataType: 'json',
        success: function(data) {
            statics = data; 
        }
    }); 
    $.ajax({
        url: 'static/json/js_statics.json',
        async: false,
        dataType: 'json',
        success: function(data) {
            js_statics = data;
        }
    });
    window.DATA = {
        etdata: {{ etdata|safe }},
        geomdata: {{ geomdata|safe}}
    }
    /*
    //Set etdata
    google.charts.load('current', {'packages':['corechart', 'table', 'geomap']});
    google.charts.setOnLoadCallback(initialize_map);
    */
    //Set up openlayers map
    $( document ).ready(function() {
        initialize_ol_map();
    });

    // Make selected divs draggable, e.g. the form
    $(function(){
        $( ".draggable" ).draggable();
    }); 
</script>
